*{
    margin: 0%;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: orange;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_container{
    color: white;
}

.temp{
    font-size: 4rem;
}

.time_location{
    font-size: 2rem;
}

.condition{
    margin: 0.5;
    margin-left: 0.2rem;
    font-size: 1.5rem;
    margin-top: 0.7rem;
}
nav{
    height: 100px;
    margin: 5rem;
}

.search_area{
    padding: 1rem 0;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    width: 98%;
}

nav form button{
    padding: 0.5rem;
    background-color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
}